#detailContainer {
  position: absolute;
  background-color: #141414 !important;
  padding: 0;
  color: white;
  top: 0;
}

#detailImg {
  width: 100%;
  height: auto;
}

#detailPoster {
  position: relative;
}

#gradient {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0;
  height: 10vh;
  background: none;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 80%
  );
}

.detailLogo {
  display: none;
  position: absolute;
  bottom: -102px;
  max-width: 80vw;
  transform: translateX(-150%);
  max-height: 10vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
}

#movieDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#moviePopularity {
  display: flex;
  color: whitesmoke;
  background-color: #4d4c4c;
  border: 2px solid whitesmoke;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 15px;
}

#moviePopularity a {
  margin-right: 3px;
}
#moviePopularity a:hover {
  text-decoration: underline;
}

#movieGenres {
  display: flex;
}
#movieGenres .genreItem {
  border: 2px solid whitesmoke;
  background-color: #d5a021;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

#movieOverview {
  margin: 2rem 0 2rem 0;
  border-top: 2px solid whitesmoke;
  border-bottom: 2px solid whitesmoke;
  padding: 1rem;
}

#movieCast {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#movieCast img {
  max-width: 18vw;
  margin: 3px;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  #castList {
    flex-direction: column;
  }
  #castList img {
    max-width: 30vw;
  }
}
